body { 
    background: linear-gradient(to top, var(--light-blue), var(--light-mint)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-header {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: var(--light-pink);
}

#main-header h1 {
    margin-left: 1%;
    margin-top: 2%;
}

#main-header a {
    height: 2.2em;
    width: 2.2em;
}

#main-header a img {
    height: 5em;
    transition: 0.5s;
}

#main-header a img:hover {
    transition: 0.5s;
    transform: scale(1.15);
}

#main-section {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 8%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 40px;
    height: 87%;
    background-color: var(--light-yellow);
}

.each-section {
    display: flex;
    justify-content: center;
}

.sections {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-bottom: 10%;
}

.sections > .titles {
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 2em;
    width: 20em;
    border-radius: 40px;
    background-color: var(--light-lilac);
}

.sections > .titles p {
    width: 20em;
    margin-top: 0.8%;
}

.sections > .posts {
    display: flex;
    height: 5em;
    width: 20em;
    margin-bottom: 5%;
    border-radius: 40px;
    background-color: var(--light-pink);
    transition: 0.5s;
}

.sections > .posts:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.sections > .posts a {
    height: 2.9em;
    width: 20em;
    padding-top: 1.5em;
    text-align: center;
    transition: 0.3s;
}

#main-footer {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 1%;
    padding-right: 1%;
    background: linear-gradient(to right, var(--light-pink), var(--light-lilac)) no-repeat center center fixed;
}

#main-footer ul li {
    display: inline-block;
    margin-top: 1.3%;
    margin-left: 0.5%;
    font-size: 1em;
}

#main-footer > #social {
    display: flex;
    width: 15em;
    justify-content: space-between;
}

#main-footer > #social a img {
    height: 4.5em;
    transition: 0.5s;
}

#main-footer > #social a img:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

@media screen and (max-width: 1100px) {
    #main-section {
        flex-direction: column;
    }

    .sections {
        padding-bottom: 0%;
    }

    .sections > .titles {
        width: 17em;
    }

    .sections > .posts {
        height: 3em;
        width: 17em;
    }

    .sections > .posts a {
        padding-top: 0.7em;
    }

    .sections > .posts:hover {
        transform: none;
    }

    h1 {
        font-size: 2em;
    }

    #main-footer ul {
        font-size: 1em;
    }

    #main-header a {
        height: 3em;
        width: 3em;
    }

    #main-header a img {
        height: 3.5em;
    }

    #main-header a img:hover {
        transform: none;
    }
    
    #main-footer > #social a img {
        height: 3.5em;
    }

    #main-footer > #social a img:hover {
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    .sections > .titles {
        width: 17em;
    }

    .sections > .posts {
        height: 3em;
        width: 17em;
    }

    .sections > .posts a {
        padding-top: 0.7em;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .sections > .titles {
        width: 20em;
    }

    .sections > .posts {
        height: 5em;
        width: 20em;
    }

    .sections > .posts a {
        padding-top: 1.5em;
    }
}